.background-image{
    background-image: url("https://cdn.pixabay.com/photo/2024/01/18/14/46/train-8517089_640.jpg");
    background-size: cover;
    
}
.register-bg{
    background-image: url("https://cdn.pixabay.com/photo/2024/01/08/21/40/mountain-8496397_640.jpg");
    background-size: cover;
    
}